.top-bar,
.top-bar ul {
    background-color: $navigation-color;
}
.top-bar {
    .menu-text {
        color: white;
    }
    .menu > .menu-text a {
        display: inline;
        padding: 5px;
    }
    .active-link {
        font-weight: bold;
    }
}
